.gt-container .gt-btn {
  color: #ffffff !important;
  border: 1px solid #2e8555 !important;
  background-color: #2e8555 !important;
}

.gt-container .gt-btn-preview {
  background-color: #ffffff !important;
  color: #2e8555 !important;
}

.gt-container a {
  color: #2e8555 !important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted #2e8555 !important;
}

.gt-container .gt-svg svg {
  fill: #2e8555 !important;
}

.gt-container .gt-ico-arrdown svg {
  fill: #000000 !important;
}
