#gitalk-container {
  margin-bottom: 40px;
}

.gt-container .gt-btn {
  color: #ffffff !important;
  border: 1px solid var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-primary) !important;
}

.gt-container .gt-btn-preview {
  background-color: #ffffff !important;
  color: var(--ifm-color-primary) !important;
}

.gt-container a {
  color: var(--ifm-color-primary) !important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted var(--ifm-color-primary) !important;
}

.gt-container .gt-svg svg {
  fill: var(--ifm-color-primary) !important;
}

.gt-container .gt-ico-arrdown svg {
  fill: #000000 !important;
}

.gt-container .gt-popup .gt-action.is--active::before {
  background: var(--ifm-color-primary) !important;
}
