#gitalk-container {
  margin-bottom: 40px;
}

.gt-container .gt-btn {
  border: none !important;
  color: #ffffff !important;
  border: 1px solid var(--ifm-color-primary) !important;
  background-color: var(--ifm-color-primary) !important;
}

.gt-container .gt-btn-preview {
  background-color: var(--ifm-color-primary) !important;
  color: #ffffff !important;
}

.gt-container a {
  color: var(--ifm-color-primary) !important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted var(--ifm-color-primary) !important;
}

.gt-container .gt-svg svg {
  fill: var(--ifm-color-primary) !important;
}

.gt-container .gt-user .gt-ico svg {
  fill: var(--ifm-font-color-base) !important;
}

.gt-container .gt-popup .gt-action.is--active::before {
  background: var(--ifm-color-primary) !important;
}

.gt-container .gt-header-textarea {
  background: var(--ifm-navbar-search-input-background-color) !important;
  color: var(--ifm-navbar-search-input-color) !important;
}

.gt-container .gt-header-textarea::-webkit-input-placeholder {
  color: var(--docsearch-muted-color);
}

.gt-container .gt-header-textarea:hover {
  background: var(--ifm-navbar-search-input-background-color) !important;
}
